body {

    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

nav {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    margin: 5px;
    background: linear-gradient(to right, #0d349f, #085bba);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    font-weight: bold;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

header h1 {
        color: #141111;
}

header h2 {
        color: #000000;
        font-size: 10px;
        margin-top: 10px;
}   

header p {
        color: #555;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d24242;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}